<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DIETactics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/users.css"
    <link rel="stylesheet" href="/styles/responsive.css" />
</head>
<body>
    <div>
        <% include navbar.ejs %>
        <div class="user-header">
            <h1>Welcome, User!</h1>
            <h4>Enter what you have eaten today below, and we'll get it all logged into the system for you!</h4>
        </div>
        <div class="user-container">
            <div class="left-nav">
                <div class="profile-link"><a class="left-nav-link" href="users/profile/">Profile</a></div>
                <div class="daily-input-link"><a class="left-nav-link" href="#">Daily Input</a></div>
                <div class="weekly-progress-link"><a class="left-nav-link" href="#">Weekly Progress</a></div>
                <div class="monthly-progress-link"><a class="left-nav-link" href="#">Monthly Progress</a></div>
                <div class="log-out-link"><a class="left-nav-link" href="#">Log Out</a></div>
            </div>
            <div class="center-container">
                <h2>What Did You Eat Today?</h2>
                <form action="/users/dailyProgress" method="post" class="daily-progress-form">
                    <div class="date">
                        <label for="date">Date</label>
                        <input type="date" class="date-input" name="date">
                    </div>
                    <div class="meal">
                        <label for="breakfast">Daily Weight</label>
                        <input type="text" class="meal-input" name="dailyWeight" placeholder="Enter your weight as of today.">
                    </div>
                    <div class="meal">
                        <label for="breakfast">Breakfast</label>
                        <input type="text" class="meal-input" name="breakfast" placeholder="Enter each food and total amount consumed here">
                    </div>
                    <div class="meal">
                        <label for="lunch">Lunch</label>
                        <input type="text" class="meal-input" name="lunch" placeholder="Enter each food and total amount consumed here">
                    </div>
                    <div class="meal">
                        <label for="breakfast">Dinner</label>
                        <input type="text" class="meal-input" name="dinner" placeholder="Enter each food and total amount consumed here">
                    </div>
                    <div class="meal">
                        <label for="breakfast">Other</label>
                        <input type="text" class="meal-input" name="other" placeholder="Enter each food and total amount consumed here">
                    </div>
                    <input class="submit-meal-button" type="submit" value="Submit Meals!">
                </form>
            </div>
            <div class="right-information">
                <div class="text-info">
                    <div class="title-text">Recommended Daily Calories to Maintain Weight</div>
                    <div class="number-text"><%= userCal%></div>
                </div>
                <div class="text-info">
                    <div class="title-text">Number of Calories To Consume to Lose One Pound</div>
                    <div class="number-text">1690</div>
                </div>
                <div class="text-info">
                    <div class="title-text">Today's Total</div>
                    <div class="number-text"><%= dailyCal%></div>
                </div>
            </div>
        </div>
    </div>
    <% include footer.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/scripts.js"></script>
</body>
</html>