<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/responsive.css" />
</head>
<body>
<body>
    <div>
    <% include navbar%>
        <div class="login-header">
            <h1>Log-In</h1>
            <h4>Please enter your log-in information in order to sign into your acccount. Please be wary of capitalization and what not when it comes to your username and password.</h4>
        </div>
        <% if(msg){ %>
        <div class="error-box">
            <h1>Error</h1>
            <p class="error-msg"><%= msg %></p>
        </div>
        <% } %>
        <form class="login-form" method="post" action="/register/registerProcess">
            <label for="email">Email Address</label>
            <input class="text-input" type="email" name="email" />
            <label for="password">Password</label>
            <span>(Minimum of 8 characters required.)</span>
            <input class="text-input" type="password" name="password" />
            <input class="btn-input" type="submit"/>
        </form>
    </div>
    <% include footer.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/scripts.js"></script>
</body>
</html>