<div class="navbar-mobile">
    <div class="navbar-mobile-locked">
        <span class="navbar-name">DIETactics</span>
        <a href="#" class="nav-burger"><i class="fas fa-bars"></i></a>
    </div>
    <div class="navbar-mobile-links">
        <a href="login">Log-In</a>
        <a href="register">Register</a>
    </div>
</div>
<div class="navbar-desktop">
    <span class="navbar-name">DIETactics</span>
    <div class="navbar-links">
        <a href="login">Log-In</a>
        <a href="register">Register</a>
    </div>
</div>