<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DIETactics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/responsive.css" />
</head>
<body>
    <% include navbar.ejs %>
    <div class="container">
        <div class="left-nav">
            <div class="profile-link">Profile</div>
            <div class="profile-link"></div>
            <div class="profile-link"></div>
            <div class="profile-link"></div>
            <div class="profile-link"></div>
        </div>
        <div class="center-container">
            <h2>What Did You Eat Today?</h2>
            <div class="breakfast">
                <div class="meal-name">Breakfast</div>
                <div class="calorie-text">Calories: 0</div>
            </div>
            <div class="lunch">
                <div class="meal-name">Lunch</div>
                <div class="calorie-text">Calories: 0</div>
            </div>
            <div class="dinner">
                <div class="meal-name">Dinner</div>
                <div class="calorie-text">Calories: 0</div>
            </div>
            <div class="other">
                <div class="meal-name">Other</div>
                <div class="calorie-text">Calories: 0</div>
            </div>
        </div>
        <div class="right-information">

        </div>
    </div>
    <% include footer.ejs %>
</body>
</html>