/* Profile Creation Page */
.height-input .button-input{
    display:inline-block;
}

.profile-header{
    background:url('/images/scale.jpg');
    background-size:cover;
    background-position:center;
    color:#fff;
    margin:0 auto;
    padding-top:8rem;
    padding-bottom:3rem;
    text-align:center;
}

.profile-header h1{
    font-size:6rem;
    font-family:'Righteous',sans-serif;
    text-shadow:2px 2px 8px rgba(2, 15, 7, 0.75);
}

.profile-header h4{
    margin:2rem auto 0;
    width:70%;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    font-size:1.5rem;
    text-shadow:1px 1px 1px rgba(2, 15, 7, 0.502);
    background-color:rgba(14, 161, 80, 0.75);
    padding:2rem 1.25rem;
}

/* Edit Profile Page */
.edit-page-container{
    display:flex;
    justify-content:space-between;
    font-family:'Righteous',sans-serif;
    margin:2rem;
}

.edit-profile-header{
    background:url('/images/editprofile.jpg');
    background-size:cover;
    background-position:center;
    color:#fff;
    margin:0 auto;
    padding-top:8rem;
    padding-bottom:3rem;
    text-align:center;
}

.edit-profile-header h1{
    font-size:4rem;
    font-family:'Righteous',sans-serif;
    text-shadow:2px 2px 8px rgba(2, 15, 7, 0.75);
}

.edit-profile-header h4{
    margin:2rem auto 0;
    width:70%;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    font-size:1.5rem;
    text-shadow:1px 1px 1px rgba(2, 15, 7, 0.502);
    background-color:rgba(14, 161, 80, 0.75);
    padding:2rem 1.25rem;
}

.edit-nav, .center-container{
    box-shadow:1px 1px 6px rgba(2, 15, 7, 0.502);
    height:100%;
    background:#fff;
    background:linear-gradient(180deg, rgba(255,255,255,0.875) 0%, rgba(255,255,255,0.9325) 50%, rgba(255,255,255,0.875) 100%);
}

.edit-nav{
    padding:1rem;
}

.edit-nav div{
    margin:0.5rem;
    padding-bottom:0.25rem;
    border-bottom:1px solid #11d66a;
}

.left-nav-link{
    color:#020f07;
    transition:0.2s ease-out color;
}

.left-nav-link:hover{
    color:rgba(17, 214, 106, 0.933);
}

.edit-profile-form{
    text-align:center;
    width:80%;
    margin:0 auto 3rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#fff;
    background:linear-gradient(180deg, rgba(255,255,255,0.875) 0%, rgba(255,255,255,0.9325) 50%, rgba(255,255,255,0.875) 100%);
    padding:3rem;
    box-shadow:1px 1px 6px rgba(2, 15, 7, 0.502);
}

.edit-profile-form label{
    font-family:'Righteous',sans-serif;
    font-size:1.5rem;
}

.edit-profile-form span{
    font-family:'Roboto',sans-serif;
    font-size:0.875rem;
}

.edit-profile-form .text-input{
    margin-top:.25rem;
    background:#11d66a;
    color:#020f07;
    border:0;
    max-width:20rem;
    font-size:1rem;
    padding:0.25rem;
    font-family:'Roboto',sans-serif;
    margin-bottom:1rem;
    transition:0.1s ease-out all;
}

.edit-profile-form .button-input{
    margin-top:.25rem;
    background:#11d66a;
    color:#020f07;
    border:0;
    font-size:1rem;
    padding:0.25rem;
    font-family:'Roboto',sans-serif;
    margin-bottom:1rem;
    transition:0.1s ease-out all;
}

::placeholder{
    color:darkgreen;
    opacity:1;
}

.edit-profile-form .text-input:hover{
    background:#13d168;
}

.edit-profile-form .btn-input{
    background:#020f07;
    color:#fff;
    padding:0.25rem 1rem;
    border:0;
    border-radius:2px;
    font-family:'Roboto',sans-serif;
    font-size:1.25rem;
    transition:0.2s ease-out all;
}

.edit-profile-form .btn-input:hover{
    background:#11d66a;
    color:#020f07;
}