/*RESETS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display:block;
}
body{
    line-height:1;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    position:relative;
    min-height:100vh;
}
ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
a{text-decoration:none;}

/*GENERAL*/
body{
    background:#11d66a;
    overflow-x:hidden;
}

::selection{
    background:#11d66a;
    color:#020f07;
}

/* Navbar */
.navbar-desktop, .navbar-mobile-locked{
    align-items:center;
    width:100vw;
    height:4rem;
    box-shadow:0 1px 6px rgba(2, 15, 7, 0.502);
    position:fixed;
    z-index:1;
}
.navbar-desktop{
    background-color:#020f07;
    top:0;}

.navbar-mobile-locked{
    justify-content:space-between;
    background-color:rgba(1, 13, 6, 0.933);}

.navbar-mobile-links{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:fixed;
    top:4rem;
    z-index:1;
    width:100vw;
    border-top:1px solid #fff;
    box-shadow:0 1px 6px rgba(1, 13, 6, 0.502);
}

.navbar-mobile-links a{
    background-color:rgba(1, 13, 6, 0.933);
    color:#fff;
    text-align:center;
    width:100vw;
    font-family:'Roboto',sans-serif;
    font-size:1.5rem;
    padding:1.5rem;
    transition:0.2 ease-out all;
}

.navbar-mobile-links a:hover{
    background-color:#11d66aee;
    color:#020f07;
}

.navbar-name{
    font-family:'Righteous';
    font-size:2.5rem;
    color:#fff;
    margin-left:1rem;
    transition:0.3s ease-out all;
}
.navbar-links{
    display:flex;
    flex-direction:row;
    position:absolute;
    right:3rem;
}
.navbar-links a{
    color:#fff;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    margin:0 1rem;
    transition:0.2s ease-out color;
}

.navbar-links a:hover{
    color:#11d66a;
}

.nav-burger{
    color:#fff;
    font-size:1.25rem;
    margin-right:3rem;
    transition:0.2s ease-out all;
}

.nav-burger:hover{
    color:#11d66a;
}

/* Footer */
.footer{
    background-color:rgba(0, 0, 0, 0.239);
    background:linear-gradient(180deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.30) 100%);
    color:#fff;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    padding:1.25rem;
    text-align:center;
}

/* Error Message */
.error-box{
    width:80%;
    margin:3rem auto 3rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#fff;
    background:linear-gradient(180deg, rgba(255,255,255,0.875) 0%, rgba(255,255,255,0.9325) 50%, rgba(255,255,255,0.875) 100%);
    padding:3rem;
    box-shadow:1px 1px 6px rgba(2, 15, 7, 0.502);
}

.error-box h1{
    font-family:'Righteous',sans-serif;
    font-size:4rem;
    text-align:center;
}

p.error-msg{
    margin-top:0.5rem;
    font-family:'Roboto',sans-serif;
    font-size:1.25rem;
    text-align:center;
}

/* weekly progress */

.graph-container {
    width: 600px;
}