/*RESETS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration:none;}

/*GENERAL*/
body{
    background:#11d66a;
}

::selection{
    background:#11d66a;
    color:#020f07;
}

/* Landing Page */
.navbar-desktop, .navbar-mobile-locked{
    align-items:center;
    width:100vw;
    height:4rem;
    box-shadow:0 1px 6px rgba(2, 15, 7, 0.502);
    position:fixed;
    z-index:1;
}
.navbar-desktop{
    background-color:#020f07;
    top:0;}

.navbar-mobile-locked{
    justify-content: space-between;
    background-color:rgba(1, 13, 6, 0.933);}

.navbar-mobile-links{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:fixed;
    top:4rem;
    z-index:1;
    width:100vw;
    border-top:1px solid #fff;
    box-shadow:0 1px 6px rgba(1, 13, 6, 0.502);
}

.navbar-mobile-links a{
    background-color:rgba(1, 13, 6, 0.933);
    color:#fff;
    text-align:center;
    width:100vw;
    font-family:'Roboto',sans-serif;
    font-size:1.5rem;
    padding:1.5rem;
    transition:0.2 ease-out all;
}

.navbar-mobile-links a:hover{
    background-color:#11d66aee;
    color:#020f07;
}

.navbar-name{
    font-family:'Righteous';
    font-size:2.5rem;
    color:#fff;
    margin-left:1rem;
    transition:0.3s ease-out all;
}
.navbar-links{
    display:flex;
    flex-direction:row;
    position:absolute;
    right:3rem;
}
.navbar-links a{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    margin:0 1rem;
    transition:0.2s ease-out color;
}

.navbar-links a:hover{
    color:#11d66a;
}

.nav-burger{
    color:#fff;
    font-size:1.25rem;
    margin-right:3rem;
    transition:0.2s ease-out all;
}

.nav-burger:hover{
    color:#11d66a;
}

.video-box{
    position:relative;
}
.video-container{
    max-height:35rem;
    overflow:hidden;
}
#videoBG{
    box-sizing: border-box;
    background-size:cover;
    position: relative;
    top:0;
    left:0;
    filter:grayscale(80%);
}
.video-content{
    position:absolute;
    top:15rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}
.video-content h1{
    color:#fff;
    font-family:'Righteous',cursive;
    font-size:7rem;
    text-shadow: 1px 1px 6px rgba(2, 15, 7, 0.502);
}
.video-buttons{
    position:relative;
    top:1rem;
}
.video-buttons button{
    background-color:#020f07;
    color:#fff;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    border:none;
    border-radius:2px;
    font-size:1.25rem;
    padding:1rem 2rem;
    margin:0 0.25rem;
    transition:0.3s ease-out all;
    box-shadow: 1px 1px 6px rgba(2, 15, 7, 0.125);
}
.video-buttons button:hover{
    background-color:#11d66a;
    color:#020f07;
    border-radius:6px;
    box-shadow: 1px 1px 6px rgba(2, 15, 7, 0.502);
}

.landing-container{
    margin:0;
    padding-bottom:4rem;
}

.landing-box{
    margin:5rem auto 0;
    width:80%;
}

.landing-header{
    position:relative;
    margin:1.5rem;
    padding-bottom:1rem;
    border-bottom:1px solid #020f07;
}

.landing-header h1{
    font-family:'Righteous',sans-serif;
    font-size:3.5rem;
}

.landing-header i{
    font-size:3.5rem;
}

.landing-content{
    margin:0 1.5rem;
    background:#fff;
    background: linear-gradient(180deg, rgba(255,255,255,0.875) 0%, rgba(255,255,255,0.9325) 50%, rgba(255,255,255,0.875) 100%);
    padding:3rem;
    box-shadow:1px 1px 6px rgba(2, 15, 7, 0.502);
}

.landing-content p{
    text-align:justify;
    text-indent:3rem;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size:1.5rem;
    line-height:2rem;
    margin-bottom:2rem;
    padding-bottom:2rem;
    border-bottom:1px solid #0ca350;
}

.landing-content p:last-child{
    margin-bottom:0;
    padding-bottom:0;
    border-bottom:0;
}

.landing-content p.landing-login{
    text-indent:0;
    display:flex;
    justify-content:center;
}

.landing-login a{
    background-color:#020f07;
    color:#fff;
    padding:0.25rem 1rem;
    border-radius:2px;
    transition:0.3s ease-out all;
    box-shadow: 1px 1px 6px rgba(2, 15, 7, 0.125);
}

.landing-login a:hover{
    background-color:#11d66a;
    color:#020f07;
    border-radius:6px;
    box-shadow: 1px 1px 6px rgba(2, 15, 7, 0.502);
}

.footer{
    bottom:0;
    width:100vw;
    background-color:rgba(0, 0, 0, 0.239);
    background: linear-gradient(180deg, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0.30) 100%);
    color:#fff;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    padding:1.25rem;
    text-align:center;
}

/* Registration Page */
.register-header{
    background:url('/images/reg_bg.jpg');
    background-size:cover;
    background-position:center;
    color:#fff;
    margin:0 auto;
    padding-top:8rem;
    padding-bottom:3rem;
    text-align:center;
}

.register-header h1{
    font-size:6rem;
    font-family:'Righteous',sans-serif;
    text-shadow: 1px 1px 6px rgba(2, 15, 7, 0.502);
}

.register-header h4{
    margin:2rem auto 0;
    width:70%;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    font-size:1.5rem;
    text-shadow: 1px 1px 1px rgba(2, 15, 7, 0.502);
    background-color:rgba(14, 161, 80, 0.75);
    padding:2rem 1.25rem;
}

.register-form{
    width:80%;
    margin:3rem auto 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#fff;
    background: linear-gradient(180deg, rgba(255,255,255,0.875) 0%, rgba(255,255,255,0.9325) 50%, rgba(255,255,255,0.875) 100%);
    padding:3rem;
    box-shadow: 1px 1px 6px rgba(2, 15, 7, 0.502);
}

.register-form label{
    font-family:'Righteous',sans-serif;
    font-size:1.5rem;
}

.register-form span{
    font-family:'Roboto',sans-serif;
    font-size:0.875rem;
}

.register-form .text-input{
    background:#11d66a;
    color:#020f07;
    border:0;
    font-size:1.5rem;
    padding:0.25rem;
    font-family:'Roboto',sans-serif;
    margin-bottom:1rem;
    transition:0.1s ease-out all;
}

.register-form .text-input:hover{
    background:#13d168;
}

.register-form .btn-input{
    background:#020f07;
    color:#fff;
    padding:0.25rem 1rem;
    border:0;
    border-radius:2px;
    font-family:'Roboto',sans-serif;
    font-size:1.25rem;
    transition:0.2s ease-out all;
}

.register-form .btn-input:hover{
    background:#11d66a;
    color:#020f07;
}